# dependencies
/node_modules
/.pnp
.pnp.*

# next
/.next/
/out/
next-env.d.ts
*.tsbuildinfo

# env files
.env
.env.*
!.env.example

# local database
/data

# debug
npm-debug.log*
.pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel
.vercel

# misc
.DS_Store
*.pem
